<!DOCTYPE html>
<html>
    <head>
        <title>CSCB20 - Announcements</title>
        <link rel="stylesheet" type="text/css" href="../static/index.css">
    </head>
    <body>
        <h1 class = "heading">CSCB20 - Introduction to Databases and Web Applications</h1>
            <div class = "topnav">
                <nav>
                    <a href = "/"><div id=navbutton>Home</div></a>
                    <a href = "/calendar"><div id=navbutton>Calendar</div></a>
                    <a href = "/announcements"><div id=navbutton>Announcements</div></a>
                    <a href = "/discussion"><div id=navbutton>Discussion Board</div></a>
                    <a href = "/lectures"><div id=navbutton>Lectures</div></a>
                    <a href = "/labs"><div id=navbutton>Labs</div></a>
                    <a href = "/assignments"><div id=navbutton>Assignments</div></a>
                    <a href = "/tests"><div id=navbutton>Tests</div></a>
                    <a href = "/resources"><div id=navbutton>Resources</div></a>
                    <a href = "/feedback"><div id=navbutton>Feedback</div></a>
                </nav>
    </div>
    <div>
        <h2>Announcements</h2>
    </div>
    <section class = "content">
        <article class="post">
            <h3>Blog Post 1</h3>
            <small>Posted by Joe on April 11</small>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a href="../dummy.pdf">Read More</a>
        </article>
        <article class="post">
            <h3>Blog Post 2</h3>
            <small>Posted by Joe on April 11</small>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a href="../dummy.pdf">Read More</a>
        </article>
        <article class="post">
            <h3>Blog Post 3</h3>
            <small>Posted by Joe on April 11</small>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a href="../dummy.pdf">Read More</a>
        </article>
    </section>
    <hr/>
    <footer id="main-footer">
        <p><a href = https://www.utsc.utoronto.ca/cms/faculty-of-computer-science>Faculty of Computer Science</a></p>
        <p>Site designed by Aarij Wahab and Brandon Lam</p>
    </footer>   
    </body>
</html>