<!DOCTYPE html>
<html>
    <head>
        <title>CSCB20 - Calendar</title>
        <link rel="stylesheet" type="text/css" href="../static/index.css">
        <link rel="stylesheet" type="text/css" href="../static/assignments.css">
    </head>
    <body>
        <h1 class = "heading">CSCB20 - Introduction to Databases and Web Applications</h1>
            <div class = "topnav">
                <nav>
                    <a href = "/"><div id=navbutton>Home</div></a>
                    <a href = "/calendar"><div id=navbutton>Calendar</div></a>
                    <a href = "/announcements"><div id=navbutton>Announcements</div></a>
                    <a href = "/discussion"><div id=navbutton>Discussion Board</div></a>
                    <a href = "/lectures"><div id=navbutton>Lectures</div></a>
                    <a href = "/labs"><div id=navbutton>Labs</div></a>
                    <a href = "/assignments"><div id=navbutton>Assignments</div></a>
                    <a href = "/tests"><div id=navbutton>Tests</div></a>
                    <a href = "/resources"><div id=navbutton>Resources</div></a>
                    <a href = "/feedback"><div id=navbutton>Feedback</div></a>
                </nav>
    </div>
    <div class = "content">
        <h3>Overview</h3>
        <p><i>Here are the assignment and exercise topics, weights, and due dates. 
            I will be posting the exercise and assignment handouts here.
             All exercises and assignments will be submitted on MarkUs.</i> </p>
        <hr>
        <h2>Assignments</h2>
        <div class="divTable">
            <div class="divTableBody">
                <div class="divTableRow">
                    <div class="divTableCell"></div>
                    <div class="divTableCell">Exercise</div>
                    <div class="divTableCell">Topic (tentative)</div>
                    <div class="divTableCell">Weight</div>
                    <div class="divTableCell">Due Date</div>
                    <div class="divTableCell">Solution</div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">1</div>
                    <div class="divTableCell"><a href="https://www.utsc.utoronto.ca/~bretscher/b20/assignments/a1/">Handout</a></div>
                    <div class="divTableCell">Relational Algebra and MySQL</div>
                    <div class="divTableCell">15%</div>
                    <div class="divTableCell">Part 1. Wednesday Feb. 1, 11.59pm, Submit to&nbsp;<a href="https://markus.utsc.utoronto.ca/cscb20w20">MarkUs</a><br /><span style="color: red;">UPDATED</span>&nbsp;Part 2 and 3. For 5% bonus Saturday Feb. 11, 11.59pm or Friday Feb. 17, 11.59 Submit to&nbsp;<a href="https://markus.utsc.utoronto.ca/cscb20w20">MarkUs</a>&nbsp;You can download a dumpfile for IMDB_SMALL&nbsp;<a href="https://www.utsc.utoronto.ca/~bretscher/b20/assignments/IMDB_SMALL.sql">here</a>.<br />To use it type&nbsp;<code>mysql -u utorid -p &lt; IMDB_SMALL.sql</code></div>
                    <div class="divTableCell"><a href="https://www.utsc.utoronto.ca/~bretscher/b20/assignments/a1/soln.pdf">Solution Part 1</a></div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">2</div>
                    <div class="divTableCell"><a href="http://mathlab.utsc.utoronto.ca/courses/cscb20w17/bretsche/assignments/a2/a2.html">Handout</a>&nbsp;<a href="http://www.utsc.utoronto.ca/bretscher/b20/assignments/a2/a2.zip">a2.zip</a></div>
                    <div class="divTableCell">HTML, CSS, PHP</div>
                    <div class="divTableCell">15%&nbsp;</div>
                    <div class="divTableCell">Part 1: Worth 50% Friday March. 10, 11.59pm, Submit to&nbsp;<a href="https://markus.utsc.utoronto.ca/cscb20w20">MarkUs</a><br />Part 2: Worth 50% Friday March. 19, 11.59pm, Submit to&nbsp;<a href="https://markus.utsc.utoronto.ca/cscb20w20">MarkUs</a>--&gt;</div>
                    <div class="divTableCell">&nbsp;</div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">3</div>
                    <div class="divTableCell"><span style="color: red;">New</span>&nbsp;<a href="http://www.utsc.utoronto.ca/bretscher/b20/assignments/a3/a3_marking_scheme.txt">Marking Scheme for A3</a>&nbsp;<a href="http://www.utsc.utoronto.ca/bretscher/b20/assignments/a3/a3.html">Handout</a></div>
                    <div class="divTableCell">Web Application and Database</div>
                    <div class="divTableCell">15%</div>
                    <div class="divTableCell">Friday March 31, 11.59pm</div>
                    <div class="divTableCell">&nbsp;</div>
                </div>
            </div>
            <h3><u><i>FAQ - Assignment 1</i></u></h3>
            <p><i>Q. If the mysql portion asks for a director or actor without specifying which attributes, what should I return?</i></p>
            <p><i>A. Return the first name, last name. </i></p>

        </div>



    </div>
    <hr/>   
    <footer id="main-footer">
        <p><a href = https://www.utsc.utoronto.ca/cms/faculty-of-computer-science>Faculty of Computer Science</a></p>
        <p>Site designed by Aarij Wahab and Brandon Lam</p>
    </footer>
    </body>
</html>
