<!DOCTYPE html>
<html>
    <head>
        <title>CSCB20 - Discussion Board</title>
        <link rel="stylesheet" type="text/css" href="../static/index.css">
    </head>
    <body>
        <h1 class = "heading">CSCB20 - Introduction to Databases and Web Applications</h1>
            <div class = "topnav">
                <nav>
                    <a href = "/"><div id=navbutton>Home</div></a>
                    <a href = "/calendar"><div id=navbutton>Calendar</div></a>
                    <a href = "/announcements"><div id=navbutton>Announcements</div></a>
                    <a href = "/discussion"><div id=navbutton>Discussion Board</div></a>
                    <a href = "/lectures"><div id=navbutton>Lectures</div></a>
                    <a href = "/labs"><div id=navbutton>Labs</div></a>
                    <a href = "/assignments"><div id=navbutton>Assignments</div></a>
                    <a href = "/tests"><div id=navbutton>Tests</div></a>
                    <a href = "/resources"><div id=navbutton>Resources</div></a>
                    <a href = "/feedback"><div id=navbutton>Feedback</div></a>
                </nav>
    </div>
    <div class = "content">
        <h2>Discussion Board</h2>
        <p>Click here to go to <a href = "https://piazza.com/class/k5l8ww7kz8l6f0?cid=146">Piazza</a></p>
    </div>
    <hr>
    <footer id="main-footer">
        <p><a href = https://www.utsc.utoronto.ca/cms/faculty-of-computer-science>Faculty of Computer Science</a></p>
        <p>Site designed by Aarij Wahab and Brandon Lam</p>
    </footer>
    </body>
</html>