<!DOCTYPE html>
<html>
    <head>
        <title>CSCB20 - Submit a Reply</title>
        <link rel="stylesheet" type="text/css" href="../static/index.css">
    </head>
    <body>
        <h1 class = "heading">CSCB20 - Introduction to Databases and Web Applications</h1>
            <div class = "topnav">
                <nav>
                    <a href = "/"><div id=navbutton>Home</div></a>
                    <a href = "/calendar"><div id=navbutton>Calendar</div></a>
                    <a href = "/announcements"><div id=navbutton>Announcements</div></a>
                    <a href = "/discussion"><div id=navbutton>Discussion Board</div></a>
                    <a href = "/lectures"><div id=navbutton>Lectures</div></a>
                    <a href = "/labs"><div id=navbutton>Labs</div></a>
                    <a href = "/assignments"><div id=navbutton>Assignments</div></a>
                    <a href = "/tests"><div id=navbutton>Tests</div></a>
                    <a href = "/resources"><div id=navbutton>Resources</div></a>
                    <a href = "/feedback"><div id=navbutton>Feedback</div></a>
                    <a href = "/grades"><div id=navbutton>Grades</div></a>
                </nav>
    </div>
    <div>
        <h2>Submit an Anonymous Reply</h2>
    </div>
    <form action="../dummy.pdf" method="POST" class = "content">
        <div>
            <label>Subject: </label>
            <input type="subject" name="subject">
        </div>
        <br>
        <div>
            <label>Message: </label>
            <textarea name="message"></textarea>
        </div>
        <br>
        <div>
            <label>Date: </label>
            <input type="date" name="date">
        </div>
        <br>
        <input type="submit" name="submit" value="Submit">
    </form>
    <hr/>
    <footer id="main-footer">
        <p><a href = https://www.utsc.utoronto.ca/cms/faculty-of-computer-science>Faculty of Computer Science</a></p>
        <p>Site designed by Aarij Wahab and Brandon Lam</p>
    </footer>
    </body>
</html>
