<!DOCTYPE html>
<html>
  <head>
    <title>CSCB20 - Introduction to Databases and Web Applications</title>
    <link rel="stylesheet" type="text/css" href="../static/index.css">
  </head>

  <body>
    <h1 class = "heading">CSCB20 - Introduction to Databases and Web Applications</h1>
    <div>
      <nav>
        <a href = "/"><div id=navbutton>Home</div></a>
        <a href = "/calendar"><div id=navbutton>Calendar</div></a>
        <a href = "/announcements"><div id=navbutton>Announcements</div></a>
        <a href = "/discussion"><div id=navbutton>Discussion Board</div></a>
        <a href = "/lectures"><div id=navbutton>Lectures</div></a>
        <a href = "/labs"><div id=navbutton>Labs</div></a>
        <a href = "/assignments"><div id=navbutton>Assignments</div></a>
        <a href = "/tests"><div id=navbutton>Tests</div></a>
        <a href = "/resources"><div id=navbutton>Resources</div></a>
        <a href = "/feedback"><div id=navbutton>Feedback</div></a>
    </nav>
    </div>

    <div class = "content">

      <center><h2>Welcome</h2></center>

      <hr/>

        <h3>Course Description</h3>
        <p>A practical introduction to databases and Web app development. Databases: terminology and applications; creating, querying and 
            updating databases; the entity-relationship model for database design. Web documents and applications: static and interactive 
            documents; Web servers and dynamic server-generated content; Web application development and interface with databases. </p>
        <p> <strong>Prerequisite: </strong> Some experience with programming in an imperative language such as Python, Java or C.</p>
        <p> <strong>Exclusions: </strong> This course may not be taken after - or concurrently with - any C- or D-level CSC course</p>
      <p> <strong>Syllabus: </strong> <a href = "../dummy.pdf">PDF</a></p>
      <p> <strong>MarkUs: </strong> <a href = "https://markus.utsc.utoronto.ca/cscb20w20">Link</a></p>

      <hr/>

      <h2> Instructor Information</h2>
      <p><strong>Dr. Anna Bretscher</strong></p>

  <div class = "container">
      <div class = "communication">
          <p>E-mail:</p>
          <p>Office:</p>
          <p>Phone:</p>
          <p>Lectures:</p>  
          <p>Office Hours:</p>
      </div>
      <div class = "info">
        <p>bretscher@utsc.utoronto.ca</p>
        <p>IC493</p>
        <p>(416)-208-4745</p>
        <p>Mondays 9:15-11:00 HW216</p>
        <p>W 11:00-12:00</p>
      </div>
    </div>
    <hr>
    <h2> TA Information</h2>
    <p><strong>Frederic Pun</strong></p>

<div class = "container">
    <div class = "communication">
        <p>E-mail:</p>
        <p>Office:</p>
        <p>Phone:</p>
        <p>Lectures:</p>  
        <p>Office Hours:</p>
    </div>
    <div class = "info">
      <p>frederic.pun@utsc.utoronto.ca</p>
      <p>IC1337</p>
      <p>(123)-456-7890</p>
      <p>Tuesdays 9:00-11:00 HW216</p>
      <p>W 11:00-12:00</p>
    </div>
  </div>
  </div>
    </div>
    
    <footer id="main-footer">
        <hr/>
        <p><a href = https://www.utsc.utoronto.ca/cms/faculty-of-computer-science>Faculty of Computer Science</a></p>
        <p>Site designed by Aarij Wahab and Brandon Lam</p>
    </footer>
  </body>
</html>