<!DOCTYPE html>
<html>
    <head>
        <title>CSCB20 - Labs</title>
        <link rel="stylesheet" type="text/css" href="../static/index.css">
        <link rel="stylesheet" type="text/css" href="../static/assignments.css">
    </head>
    <body>
        <h1 class = "heading">CSCB20 - Introduction to Databases and Web Applications</h1>
            <div class = "topnav">
                <nav>
                    <a href = "/"><div id=navbutton>Home</div></a>
                    <a href = "/calendar"><div id=navbutton>Calendar</div></a>
                    <a href = "/announcements"><div id=navbutton>Announcements</div></a>
                    <a href = "/discussion"><div id=navbutton>Discussion Board</div></a>
                    <a href = "/lectures"><div id=navbutton>Lectures</div></a>
                    <a href = "/labs"><div id=navbutton>Labs</div></a>
                    <a href = "/assignments"><div id=navbutton>Assignments</div></a>
                    <a href = "/tests"><div id=navbutton>Tests</div></a>
                    <a href = "/resources"><div id=navbutton>Resources</div></a>
                    <a href = "/feedback"><div id=navbutton>Feedback</div></a>
                </nav>
    </div>
    <div class = "content">
        <h2>Labs</h2>

        <div class="divTable">
            <div class="divTableBody">
                <div class="divTableRow">
                    <div class="divTableCell">Week</div>
                    <div class="divTableCell">Lab</div>
                    <div class="divTableCell">Solutions</div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">2</div>
                    <div class="divTableCell"><a href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t1/">Python, Command line</a></div>
                    <div class="divTableCell">None</div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">3</div>
                    <div class="divTableCell"><a href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t2/relational.pdf">Handout</a></div>
                    <div class="divTableCell"></div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">4</div>
                    <div class="divTableCell"><a href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t3/index.html">Handout</a>&nbsp;<a href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t3/university.sql">university.sql</a></div>
                    <div class="divTableCell"><a href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t3/query_solns.html">query_solns</a></div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">5</div>
                    <div class="divTableCell"><a href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t4/handout.pdf">Handout</a></div>
                    <div class="divTableCell"><a href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t4/tut4_soln.pdf">Solns</a>&nbsp;</div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">6</div>
                    <div class="divTableCell"><a href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t5/handout.pdf">Handout</a></div>
                    <div class="divTableCell"><a href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t5/t5_soln.pdf">Solns</a></div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">7</div>
                    <div class="divTableCell"><a href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t7/handout.pdf">Handout</a></div>
                    <div class="divTableCell">&nbsp;</div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">8&nbsp;</div>
                    <div class="divTableCell"><a href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t8/">Handout</a></div>
                    <div class="divTableCell">&nbsp;</div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">9</div>
                    <div class="divTableCell"><a href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t9/">Handout</a></div>
                    <div class="divTableCell">&nbsp;</div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">10&nbsp;</div>
                    <div class="divTableCell"><a href="https://www.w3schools.com/jquery/jquery_syntax.asp">W3 tutorial</a>&nbsp;Work through the tutorial for jQuery up until jQuery Remove.</div>
                    <div class="divTableCell">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
    <hr/>   
    <footer id="main-footer">
        <p><a href = https://www.utsc.utoronto.ca/cms/faculty-of-computer-science>Faculty of Computer Science</a></p>
        <p>Site designed by Aarij Wahab and Brandon Lam</p>
    </footer>
    </body>
</html>