<!DOCTYPE html>
<html>
    <head>
        <title>CSCB20 - Lectures</title>
        <link rel="stylesheet" type="text/css" href="../static/index.css">
        <link rel="stylesheet" type="text/css" href="../static/lectures.css">
    </head>
    <body>
        <h1 class = "heading">CSCB20 - Introduction to Databases and Web Applications</h1>
            <div class = "topnav">
                <nav>
                    <a href = "/"><div id=navbutton>Home</div></a>
                    <a href = "/calendar"><div id=navbutton>Calendar</div></a>
                    <a href = "/announcements"><div id=navbutton>Announcements</div></a>
                    <a href = "/discussion"><div id=navbutton>Discussion Board</div></a>
                    <a href = "/lectures"><div id=navbutton>Lectures</div></a>
                    <a href = "/labs"><div id=navbutton>Labs</div></a>
                    <a href = "/assignments"><div id=navbutton>Assignments</div></a>
                    <a href = "/tests"><div id=navbutton>Tests</div></a>
                    <a href = "/resources"><div id=navbutton>Resources</div></a>
                    <a href = "/feedback"><div id=navbutton>Feedback</div></a>
                </nav>
    </div>
    <div>
        <h2>Lecture Schedule</h2>
    <div class = "content">
    <p><i>Please print and bring these notes/worksheets to class. </i></p>
    <div class="divTable">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">Week</div>
                <div class="divTableCell">Topic&nbsp;</div>
                <div class="divTableCell">&nbsp;Lecture Material</div>
                <div class="divTableCell">In Class</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">1</div>
                <div class="divTableCell">Introduction, Databases Background</div>
                <div class="divTableCell"><a href="http://www.utsc.utoronto.ca/~bretscher/b20/lectures/w1.pdf">Power Point</a>&nbsp;<a href="http://www.utsc.utoronto.ca/~bretscher/b20/lectures/w1_handout.pdf">Power Point Handout</a></div>
                <div class="divTableCell">&nbsp;</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">3</div>
                <div class="divTableCell">Schema Diagrams, Relational Algebra</div>
                <div class="divTableCell"><a href="http://www.utsc.utoronto.ca/~bretscher/b20/lectures/w2.pdf">Power Point</a>&nbsp;<a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/worksheets/schema_relational_algebra.pdf">Worksheet</a>&nbsp;<a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/worksheets/schema_relational_algebra_soln.pdf">Worksheet Solutions</a></div>
                <div class="divTableCell">&nbsp;</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">4</div>
                <div class="divTableCell">SQL and MySQL</div>
                <div class="divTableCell"><a href="http://www.utsc.utoronto.ca/~bretscher/b20/lectures/w3.pdf">Power Point PDF</a>&nbsp;<a href="http://www.utsc.utoronto.ca/~bretscher/b20/lectures/w3_ppt_printable.pdf">Power Point Printable PDF</a>&nbsp;<a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/worksheets/mysql_intro.pdf">MySQL Worksheet</a></div>
                <div class="divTableCell"><a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/week4_inclass.rtf">In Class MySQL</a></div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">5</div>
                <div class="divTableCell">MySQL Queries, Creating and Editing Tables</div>
                <div class="divTableCell"><a href="http://www.utsc.utoronto.ca/~bretscher/b20/lectures/w4.pdf">Power Point</a>&nbsp;<a href="http://www.utsc.utoronto.ca/~bretscher/b20/lectures/w4_printable.pdf">Printable Power Point</a>&nbsp;<a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/worksheets/more_mysql.pdf">More MySQL Worksheet&nbsp;<span style="color: red;">Solutions</span></a></div>
                <div class="divTableCell"><a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/inclass_w5.rtf">In Class MySQL</a></div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">6</div>
                <div class="divTableCell">MySQL Outer Joins, Views, NULL, string functions, HTML</div>
                <div class="divTableCell"><a href="http://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf">Power Point</a>&nbsp;<a href="http://www.utsc.utoronto.ca/~bretscher/b20/lectures/html.pdf">HTML Power Point</a>&nbsp;<a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/worksheets/mysql_views.pdf">MySQL Views Worksheet&nbsp;<span style="color: red;">Solutions</span></a></div>
                <div class="divTableCell">&nbsp;</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">7</div>
                <div class="divTableCell">HTML, CSS</div>
                <div class="divTableCell"><a href="http://www.utsc.utoronto.ca/~bretscher/b20/lectures/w7.pdf">CSS Power Point</a></div>
                <div class="divTableCell">&nbsp;</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">8</div>
                <div class="divTableCell">PHP</div>
                <div class="divTableCell"><a href="http://www.utsc.utoronto.ca/~bretscher/b20/lectures/w8_php.pdf">Power Point</a></div>
                <div class="divTableCell">&nbsp;</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">9&nbsp;</div>
                <div class="divTableCell">PHP and SQL</div>
                <div class="divTableCell"><a href="http://www.utsc.utoronto.ca/~bretscher/b20/lectures/w9_php_query.pdf">Power Point</a></div>
                <div class="divTableCell">Empty starter file:&nbsp;<a href="http://mathlab.utsc.utoronto.ca/courses/cscb20w17/bretsche/inclass/php_query.php">query.php</a>&nbsp;To look at the txt for this file, download this&nbsp;<a href="http://mathlab.utsc.utoronto.ca/courses/cscb20w17/bretsche/inclass/php_query.txt">php_query.txt</a></div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">10</div>
                <div class="divTableCell">JavaScript and jQuery</div>
                <div class="divTableCell"><a href="http://www.utsc.utoronto.ca/bretscher/b20/lectures/jquery.pdf">jQuery Power Point</a></div>
                <div class="divTableCell">&nbsp;</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">11</div>
                <div class="divTableCell">jQuery, AJAX, JSON</div>
                <div class="divTableCell"><a href="http://www.utsc.utoronto.ca/bretscher/b20/lectures/week11_forms.pdf">Power Point</a>&nbsp;<a href="http://www.utsc.utoronto.ca/bretscher/b20/lectures/forms_printable.pdf">printable Power Point</a></div>
                <div class="divTableCell">&nbsp;</div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">12</div>
                <div class="divTableCell">Last Year's final</div>
                <div class="divTableCell"><a href="http://www.utsc.utoronto.ca/bretscher/b20/tests/final_f16.pdf">W16 Final</a>&nbsp;Note that some questions have code missing because portions resemble your A3</div>
                <div class="divTableCell">&nbsp;</div>
            </div>
        </div>
    </div>        

    </div>
    <hr/>
    <footer id="main-footer">
        <p><a href = https://www.utsc.utoronto.ca/cms/faculty-of-computer-science>Faculty of Computer Science</a></p>
        <p>Site designed by Aarij Wahab and Brandon Lam</p>
    </footer>
    </body>
</html>