<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<link rel="stylesheet" type="text/css" href="../static/index.css">
</head>
<body>
	<div class = "registerContainer">
		<div>
		<form action="/registerStudent">
			<h2>Create a Student Account</h2>
			<label>Username:</label>
			<input type=text name=user>
			<label>Password:</label>
			<input type=text name=pass>
			<br>
			<input type=submit value=Register>
		</form>
		</div>
		<div>
			<form action="/registerInstructor">
				<h2>Create an Instructor Account</h2>
				<label>Username:</label>
				<input type=text name=user>
				<label>Password:</label>
				<input type=text name=pass>
				<br>
				<input type=submit value=Register>
			</form>
		</div>
	</div>
</body>
</html>