<!DOCTYPE html>
<html>
    <head>
        <title>CSCB20 - Resources</title>
        <link rel="stylesheet" type="text/css" href="../static/index.css">
    </head>
    <body>
        <h1 class = "heading">CSCB20 - Introduction to Databases and Web Applications</h1>
            <div class = "topnav">
                <nav>
                    <a href = "/"><div id=navbutton>Home</div></a>
                    <a href = "/calendar"><div id=navbutton>Calendar</div></a>
                    <a href = "/announcements"><div id=navbutton>Announcements</div></a>
                    <a href = "/discussion"><div id=navbutton>Discussion Board</div></a>
                    <a href = "/lectures"><div id=navbutton>Lectures</div></a>
                    <a href = "/labs"><div id=navbutton>Labs</div></a>
                    <a href = "/assignments"><div id=navbutton>Assignments</div></a>
                    <a href = "/tests"><div id=navbutton>Tests</div></a>
                    <a href = "/resources"><div id=navbutton>Resources</div></a>
                    <a href = "/feedback"><div id=navbutton>Feedback</div></a>
                </nav>
    </div>
    <div class = "content">
        <h2>Resources</h2>
        <hr/>
        <h3>Online Resources</h3>
        <hr/>
        <ul>
        <li>Course Website</li>
        <p>Course information, lecture notes, tutorial material, important announcements, etc. 
            will be posted on the course website. It is your responsibility to visit it frequently.</p>
        <li>Beginner Tutorial for <a href = "../dummy.pdf">MySQL</a></li>
        <li>Email Communication</li>
        <p>Questions regarding the course material, assignments, midterm, etc. should be posed on the bulletin board. 
            Questions about the assignment which you feel you cannot formulate without revealing your solution (should be very rare!),
             as well as questions and concerns regarding your personal matters should be directed to the instructor.</p>
        <li><a href = "https://piazza.com/class/k5l8ww7kz8l6f0">Discussion Board</a></li>
        </ul>
        <h3>Software and Documentation</h3>
        <hr/>
        <ul>
            <li>Logging into Mathlab</li>
            <ol>
                <li>Mac OS comes with the application "terminal". Simple click on it to run. Login to mathlab by typing</li>
                <p><small>ssh utorid@mathlab.utsc.utoronto.ca</small> Enter your Password</p>
                <li>
                    Windows - you will need a SSH client. PuTTY is a good free one.
                     You can download and install here: PuTTY. Use the same command as above to login to mathlab: </li>
                     <p><small>ssh utorid@mathlab.utsc.utoronto.ca</small></p>
            </ol>
        </ul>
    </div>
    <hr/>   
    <footer id="main-footer">
        <p><a href = https://www.utsc.utoronto.ca/cms/faculty-of-computer-science>Faculty of Computer Science</a></p>
        <p>Site designed by Aarij Wahab and Brandon Lam</p>
    </footer>
    </body>
</html>